.wrapper {
  width: 886px;
  height: 315px;

  background: #ffffff;
  border-radius: 1px;
}

.container {
  display: flex;
}

.leftInfo {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  background-image: url("./../../static/icons/avatar/Ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
}

.createTime {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 9px;
  text-align: center;
  color: #808080;
}

.textContent {
  width: 100%;
  padding: 10px;
}

.textContentHeader {
  display: flex;
  justify-content: space-between;
}
.author {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;

  color: #808080;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 108px;
  height: 24px;
}

.arrow {
  width: 20px;
  height: 20px;
  background-image: url("./../../static/icons/workIcons/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.hide {
  width: 20px;
  height: 20px;
  background-image: url("./../../static/icons/workIcons/hideMessage.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.setting {
  width: 20px;
  height: 20px;
  background-image: url("./../../static/icons/workIcons/setting.png");
  background-position: inherit;
  background-repeat: no-repeat;
  cursor: pointer;
}
.favorites {
  width: 20px;
  height: 20px;
  background-image: url("./../../static/icons/workIcons/icons8-star-16.png");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.like {
  background-image: url("./../../static/icons/workIcons/favorites.png");
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #808080;
  text-decoration: none;
}

.mediaContent {
  width: 259px;
  height: 146px;
  margin-top: 8px;
}

.mediaContent video {
  border-radius: 4px;
}
